body {
    font-family: monospace;
    background-color: rgb(19, 19, 73);
    margin: 0px;
    padding: 0px;
}

#container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container1 h1 {
    background-color: rgb(29, 49, 92);
    width: 100%;
    text-align: center;
    color: lightblue
}

#container1 h3 {
    color: white;
}

.container2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.card1, .card2, .card3 {
    background-color: rgb(29, 49, 92);
    width: 25%;
    height: 27rem;
    padding-bottom: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid lightblue;
    color: white;
    border-radius: 10px;
}

.container2 input {
    border: none;
    border-radius: 30px;
    height: 24px;
    width: 100%;
    padding: 2%
}

.container2 button {
    text-decoration: none;
    color: white;
    background-color: limegreen;
    padding: 5px;
    border: none;
    border-radius: 20px;
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.container2 button:hover {
    background-color: lime;
    border: 1px solid white;
}

footer {
    color: white;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

#recibo2 {
    margin-top: 20vh;
    top: 40%;
    left: 25%;
    width: 50%; 
    height: 25vh;
    background-color: rgb(134, 134, 236);
    display: flex;
    align-items: center;    
    text-align: center;
}

#formulario1 button {
    margin-top: 10vh;
    background-color: lightseagreen;
    color: white;
    width: 20%;
    height: 10vh;
    border-radius: 30px;
    border: none;
    cursor: pointer;   
}

#formulario1 button:hover {
    background-color: rgb(55, 71, 117);
}

#formulario1 h1, #formulario1 h3 {
    color: white;
}